@import "./editor.css";
/* @import "./mod/fluid-type.css"; */
@import "./mod/utils.css";
@import "./buttons.css";
@import "./navbar.css";
@import "./hero-marquee.css";

/* Webflow Resets */

.w-container:before,
.w-container:after {
  display: none;
}

/* Section Header */
.section-header:has([data-wf--section-header-orientation--settings-orientation="center"]) {
  margin: 0 auto;
}

.section-header:has([data-wf--section-header-orientation--settings-orientation="right"]) {
  margin-left: auto;
}