/* Navbar Styles */

/* Backdrop element for mobile navigation */
[data-element="navbar-backdrop"] {
  will-change: backdrop-filter, background-color;
}

@media (max-width: 899px) and (min-width: 768px) {
  .section_home-hero {
    --_layouts---hero--top-save-space: 6rem;
  }

  .home-hero_inner_grid {
    gap: 2rem;
    flex-direction: column;
  }

  .section_home-hero .home-hero_inner_grid_content-wrap {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .home-hero_inner_grid_image-wrap {
    width: 80%;
    max-width: 24rem;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }

  .home-hero_bg-blur {
    width: 150%;
  }

  .home-hero_bottom-wrap {
    margin-top: 4rem;
  }
}

@media (max-width: 899px) {
  .section_home-hero .button-group_slot {
    justify-content: center;
  }
}

